<div class="d-flex justify-content-center align-items-center m-0 p-0" style="min-height: 100vh;">
  <mat-card class="mx-auto my-md-auto register-card">
    <mat-card-header class="d-flex flex-column align-items-center">
      <img src="/assets/svg/logo.svg" width="200px" alt="">
      <p style="font-size: 28px;font-weight: 800">Sign up</p>
    </mat-card-header>
    <mat-card-content>
      <form #Form="ngForm" class="mx-4 mt-4">
        <mat-form-field appearance="outline" style="width: 100%">
          <input matInput placeholder="Username" name="username" [(ngModel)]="Form.value.username" required>
          <mat-label>Username</mat-label>
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="Form.value.password"
            required>
          <mat-icon matSuffix>lock_outline</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <input matInput placeholder="repeat password" type="password" name="repeat" [(ngModel)]="Form.value.repeat"
            required>
          <mat-icon matSuffix>autorenew</mat-icon>

        </mat-form-field>


      </form>
      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
    </mat-card-content>
    <mat-card-actions align="center" class="mb-5">
      <button type="submit" class="register-btn" (click)="login(Form.value)" mat-raised-button
        color="primary">REGISTER</button>
    </mat-card-actions>
  </mat-card>
</div>