<div class="d-flex mt-5  mx-auto  justify-content-center align-items-center content">
    <img class="img" src="/assets/svg/folder.svg" alt="">
    <div class="d-flex flex-column justify-content-center align-items-center text-div">
        <span> application is empty !</span>
        <p style="text-align: center">create new affair to start using this application</p>
        <button mat-raised-button color="primary" class="c-affair mt-2"><mat-icon class="mr-2">add</mat-icon>create affair  </button>
    </div>
    <button mat-fab class="help-fab">?</button>
</div>