<mat-drawer-container class="example-container" [hasBackdrop]="true">
  <mat-drawer #drawer [mode]="'overlay'">
    <mat-sidenav-container>
      <mat-sidenav-content class="sidenav d-flex flex-column pt-2 align-items-center">
        <img src="/assets/svg/logo.svg" width="200px" alt="">
        <mat-nav-list class="mt-3 routes">
          <mat-list-item [routerLink]="[ '/home']">
            <mat-icon matListIcon>home</mat-icon>
            <h3 matLine>home</h3>
          </mat-list-item>
          <mat-list-item [routerLink]="[ '/login']">
            <mat-icon matListIcon>input</mat-icon>
            <h3 matLine>Login</h3>
          </mat-list-item>
          <mat-list-item [routerLink]="[ '/register']">
            <mat-icon matListIcon>person_add</mat-icon>
            <h3 matLine>Register</h3>
          </mat-list-item>
          <mat-list-item [routerLink]="[ '/aboutUs']">
            <mat-icon matListIcon>info</mat-icon>
            <h3 matLine>About</h3>
          </mat-list-item>
          <mat-list-item [routerLink]="[ '/contact']">
            <mat-icon matListIcon>contact_phone</mat-icon>
            <h3 matLine>Contact</h3>
          </mat-list-item>
          <mat-list-item [routerLink]="[ '/help']">
            <mat-icon matListIcon>question_answer</mat-icon>
            <h3 matLine>Help</h3>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-drawer>

  <mat-drawer-content>
    <div class="background-img" style="width: 100%;min-height: 100vh;">
      <button class="menu" (click)="drawer.open()">
        <mat-icon style="color: black">menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>