@import '~@angular/material/theming';


.background-img {
    background-image: url('/assets/images/Background.jpg');

}

.menu {
    position: absolute;
    z-index: 1000;
    background-color: white;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;

    >mat-icon {
        color: white;
        position: relative;
        transform: translate(100%, 100%) scale(1.2);
    }

    @include mat-elevation(2);
    @include mat-elevation-transition;

    &:hover {
        @include mat-elevation(8);
    }

    @media (min-width: 768px) {
        width: 175px;
        height: 175px;

        >mat-icon {
            color: white;
            position: relative;
            transform: translate(125%, 125%) scale(1.6);
        }
    }
}

.sidenav {
    width: 360px;

    @media (min-width: 768px) {
        width: 360px;
    }

    height: 100vh;

    .routes {
        width: 75%;

        justify-content: center;
        align-items: center;
        >mat-list-item {
            margin-right: 20px;
            font-size: 28px;
            justify-content: center;
            align-items: center;
        }
    }

}