<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav class="mat-elevation-z4" mode="over">
        <mat-nav-list>
            <mat-list-item>
                <mat-icon matListIcon>house</mat-icon>
                <h3 matLine>Home</h3>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <div class="d-flex">
            <mat-toolbar>
                    <mat-toolbar-row>
                        <span>SecondRow</span>
                    </mat-toolbar-row>
                    <mat-toolbar-row>
                        <span>ThirdRow</span>
                    </mat-toolbar-row>
                </mat-toolbar>
    </div>
</mat-sidenav-container>