<form class="col-12 row" style="max-width: 300px;text-align: center">
  <h1>LOGIN</h1>
  <input placeholder="Username" type="text" required="">
  <input placeholder="Password" type="password" required="">
  <button>Submit</button>
</form> 

<div class="col-12 row">
  <div class="col-4">
    <!-- 
    <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fab fa-twitter"></i>Follow Me</a>
  </div>
  <div class="col-4">
    <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fab fa-twitter"></i>Follow Me</a>
  </div>
  <div class="col-4">
    <a class="follow" href="https://twitter.com/mildrenben" target="_blank"><i class="fab fa-twitter"></i>Follow Me</a>
  </div> -->
</div>  