@import '~@angular/material/theming';

.login-btn {
    width: 220px;
    height: 45px;
    @include mat-elevation(9);
    @include mat-elevation-transition;

    &:hover {
        @include mat-elevation(2);
    }

}

.login-card {

    @media (min-width: 550px) {
        @include mat-elevation(2);
        @include mat-elevation-transition;

        &:hover {
            @include mat-elevation(9);
        }
    }

    @media (max-width:550px) {
        min-height: 100vh;
        min-width: 100vw;
    }

}